javalib/build/
javalib_test/build/
mini_jvm/wintest/
mini_jvm/cmake-build-debug/
mini_jvm/cmake-build-release/
javalib/build/built-jar.properties
javalib_test/build/built-jar.properties
javalib/nbproject/private/private.properties
javalib_test/nbproject/genfiles.properties
javalib_test/nbproject/private/private.properties
.svn
win_gui/
jni_test/cmake-build-debug/
jni_test/cmake-build-release/
jni_test/java/build/
jni_gui/cmake-build-debug/
jni_gui/cmake-build-release/
jni_gui/java/build
jni_gui/java/output.c
jni_gui/java/gljni.c
