mini_jvm/cmake-build-debug/
mini_jvm/cmake-build-release/

javalib/build/
javalib/dist/

test/javalib_test/build/
test/javalib_test/dist/

test/jni_test/cmake-build-debug/
test/jni_test/cmake-build-release/
test/jni_test/java/build/
test/jni_test/java/dist/

test/jvm_vs/.vs/
test/jvm_vs/Debug/
test/jvm_vs/Release/
test/jvm_vs/x64/

ex_lib/jni_gui/cmake-build-debug/
ex_lib/jni_gui/cmake-build-release/
ex_lib/jni_gui/java/build
ex_lib/jni_gui/java/dist

ex_lib/luaj/build
ex_lib/luaj/dist

ex_lib/java_sql
ex_lib/java_net
ex_lib/mysql_connector

.svn
test/javalib_test/src/test/Foo1.java
*.c___jb_old___
