<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.tencent.WechatOpenSDK</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>CFBundleExecutable</key>
    <string>WechatOpenSDK</string>
</dict>
</plist>